<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Stock Market Analysis </title>
 
</head>

<body>
	<p>StockTrends</p>

<div style="text-align: center"> Plotly Graphs that are interactive -->
AAL
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Ranga_Chari/66.embed"></iframe><div>

    <a href="https://plot.ly/~Ranga_Chari/66/?share_key=3UhtvX3Z9flzDP2SmGSl50" target="_blank" title="AAL Plot" style="display: block; text-align: center;"><img src="https://plot.ly/~Ranga_Chari/66.png?share_key=3UhtvX3Z9flzDP2SmGSl50" alt="AAL Plot" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="Ranga_Chari:66" sharekey-plotly="3UhtvX3Z9flzDP2SmGSl50" src="https://plot.ly/embed.js" async></script>
</div>

 <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Ranga_Chari/67.embed"></iframe>

 
 
 AAPL
 <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Ranga_Chari/68.embed"></iframe>
 
 <div>
    <a href="https://plot.ly/~Ranga_Chari/68/?share_key=wNh7SSLM4NaDWV3lFxHv4Z" target="_blank" title="AAPL Plot" style="display: block; text-align: center;"><img src="https://plot.ly/~Ranga_Chari/68.png?share_key=wNh7SSLM4NaDWV3lFxHv4Z" alt="AAPL Plot" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="Ranga_Chari:68" sharekey-plotly="wNh7SSLM4NaDWV3lFxHv4Z" src="https://plot.ly/embed.js" async></script>
</div>

<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Ranga_Chari/69.embed"></iframe>


AMAZON
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Ranga_Chari/70.embed"></iframe>

<div>
    <a href="https://plot.ly/~Ranga_Chari/70/?share_key=46p90Grx9ibg4ObaDpHSQk" target="_blank" title="AMAZON PLOT" style="display: block; text-align: center;"><img src="https://plot.ly/~Ranga_Chari/70.png?share_key=46p90Grx9ibg4ObaDpHSQk" alt="AMAZON PLOT" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="Ranga_Chari:70" sharekey-plotly="46p90Grx9ibg4ObaDpHSQk" src="https://plot.ly/embed.js" async></script>
</div>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Ranga_Chari/71.embed"></iframe>



FACEBOOK
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Ranga_Chari/72.embed"></iframe>

<div>
    <a href="https://plot.ly/~Ranga_Chari/72/?share_key=ROHhEr4gBAvloBqcTAZT6t" target="_blank" title="FACEBOOK PLOT" style="display: block; text-align: center;"><img src="https://plot.ly/~Ranga_Chari/72.png?share_key=ROHhEr4gBAvloBqcTAZT6t" alt="FACEBOOK PLOT" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="Ranga_Chari:72" sharekey-plotly="ROHhEr4gBAvloBqcTAZT6t" src="https://plot.ly/embed.js" async></script>
</div>

<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Ranga_Chari/73.embed"></iframe>


TESLA
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Ranga_Chari/74.embed"></iframe>

<div>
    <a href="https://plot.ly/~Ranga_Chari/74/?share_key=nUycs8HvA8krIFPbSLk9RL" target="_blank" title="TESLA PLOT" style="display: block; text-align: center;"><img src="https://plot.ly/~Ranga_Chari/74.png?share_key=nUycs8HvA8krIFPbSLk9RL" alt="TESLA PLOT" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="Ranga_Chari:74" sharekey-plotly="nUycs8HvA8krIFPbSLk9RL" src="https://plot.ly/embed.js" async></script>
</div>

<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Ranga_Chari/75.embed"></iframe>


NOKIA
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Ranga_Chari/76.embed"></iframe>

<div>
    <a href="https://plot.ly/~Ranga_Chari/76/?share_key=0IKx4dUztpXivueQHXDNZr" target="_blank" title="NOKIA DATASET" style="display: block; text-align: center;"><img src="https://plot.ly/~Ranga_Chari/76.png?share_key=0IKx4dUztpXivueQHXDNZr" alt="NOKIA DATASET" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="Ranga_Chari:76" sharekey-plotly="0IKx4dUztpXivueQHXDNZr" src="https://plot.ly/embed.js" async></script>
</div>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Ranga_Chari/76.embed"></iframe>



GENERAL ELECTRICS
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Ranga_Chari/78.embed"></iframe>

<div>
    <a href="https://plot.ly/~Ranga_Chari/78/?share_key=8k6PlYGJkmreLm0tIfVyBO" target="_blank" title="GENERAL ELECTRIC PLOT" style="display: block; text-align: center;"><img src="https://plot.ly/~Ranga_Chari/78.png?share_key=8k6PlYGJkmreLm0tIfVyBO" alt="GENERAL ELECTRIC PLOT" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="Ranga_Chari:78" sharekey-plotly="8k6PlYGJkmreLm0tIfVyBO" src="https://plot.ly/embed.js" async></script>
</div>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Ranga_Chari/79.embed"></iframe>

</div>
</body>

</html>