.bg-image{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("/Assignment_3/Flask/Flask/static/images/stock_market(3).jpg");
}

.visible-text{
    color: white;
}